@use 'tokens';
@use 'fonts';

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-synthesis: none;
	line-height: 1.8;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-break: break-word;
	color-scheme: dark;
	color: var(--text-color-2);
	background-color: var(--bg-color-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: var(--text-color-4);
}

h1 {
	color: var(--text-color-2);
}

a {
	color: var(--text-color-5);
}

p + p {
	margin-top: 1em;
}

hr {
	height: 2px;
	margin: 2em 0;
	background-image: var(--line-gradient-1);
	border: none;
}

@media (min-width: 1024px) {
	html {
		font-size: 18px;
	}
}
